main{
    display: -webkit-flex; 
    -webkit-flex-wrap: wrap;
    margin-top: 60px;
    display: flex;
     flex-direction: row;
    justify-content: space-between;
        flex-wrap: wrap;
}

.connect{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-right: 300px;
}

img{
        height: auto;

}
@media screen and (max-width: 480px) {
    img {
        padding-top: 100px;
         width: 274px;
    }
    .connect{
        padding-right: 0px;
    }
}

.s-media{
    padding-top: 20px;
    align-self: center;
}


.s-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}
.s-btn .fa{
    background-color: transparent;
}


.pwd{
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.rr{
    margin-bottom: 10px;
}
